.error-page {
  height: 100vh;
  position: relative;
  .error-page__svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto;
  }
  .ant-btn {
    background: #6c63ff;
    border-color: #6c63ff;
    position: absolute;
    width: 200px;
    height: 40px;
    z-index: 9;
  }
}

// 403
.error-page__403 {
  .ant-btn {
    top: 65%;
    left: 18%;
  }
  .text-403 {
    color: #6c63ff;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: 70%;
    transform: rotate(10deg);
  }
}

// 404
.error-page__404 {
  .ant-btn {
    top: 20%;
    left: 20%;
  }
}

// 500
.error-page__500 {
  .ant-btn {
    top: 72%;
    left: 20%;
  }
  .text-500 {
    color: #6c63ff;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 65%;
    transform: rotate(-12deg);
  }
}
