.tags-view {
  height: 34px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  padding-left: 10px;
  .ant-tag {
    cursor: pointer;
    user-select: none
  }
}
