.layout {
  height: 100%;

  .ant-layout {
    height: 100%;
    // sider
    .ant-layout-sider {
      background: #fff;
    }
    // main
    .site-layout {
      .site-layout-background {
        background: #fff;
      }
    }
  }
}
